@tailwind base;
@tailwind components;
@tailwind utilities;

/* Дополнительные глобальные стили */
/* Плавная смена темной/светлой темы */
html {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 300ms;
}

/* Базовые стили для всех тегов заголовков */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}